.Modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: animate_opacity;
    animation-duration: 0.4s;
}

.ModalContent {
    padding: 10px;
    border-radius: 12px;
    background-color: #ffffff;
}

@keyframes animate_opacity {
    from {opacity: 0}
    to {opacity: 1}
}

.FieldSet {
    border: 1px solid #d6d6d6;
    background-color: #ffffff;
    line-height: 1.6em;
    width: auto;
}

.Legend {
    font-style: italic;
    color: #666666;
}

.Label {
    float: left;
    width: 160px;
    clear: left;
}

.InputText {
    width: 420px;
    border: 1px solid #d6d6d6;
    padding: 2px;
    outline: none;
}

.InputText:focus,
.InputText:hover {
    background-color: #d0e2f0;
    border: 1px solid #999;
}

.InputText:disabled {
    background-color: #efefef;
}

.InputMediumText {
    width: 300px;
}

.InputShortText {
    width: 80px;
}

.InputNumber {
    text-align: right;
    width: 80px;
}

.Error {
    font-size: 60%;
    font-weight: bold;
    color: #f80808;
    margin-left: 160px;
    margin-bottom: 10px;
    line-height: 60%;
}

.ButtonEdit {
    border: 1px solid #006633;
    background-color: #aac8ee;
    color: #ffffff;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    width: auto;
}

.ButtonEdit:hover {
    border: 1px solid #006633;
    background-color: #d0e2f0;
    color: #ffffff;
    cursor: pointer;
}

.ButtonEdit:disabled {
    background-color: #999999;
    cursor: default;
}
